<ul class="play-lists-monthly">
  <% @achivement_plays_month_5ago.each do |achivement_play_month_5ago|%>
    <li clas="list-monthly">
      <%= link_to play_path(achivement_play_month_5ago.play_id) do %>
        <div class="play-monthly">
          <div class="play-monthly-created">
            <%= l achivement_play_month_5ago.created_at %>
          </div>
          <div class="play-monthly-name">
            <%= Play.find(achivement_play_month_5ago.play_id).play_name %>
          </div>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>
<div class="play-counts">
  <div class="play-count-monthely">
    <div class="count-title">
      This month
    </div>
    <div class="count-value">
      <%= @achivement_plays_month_5ago.count %>
    </div>
  </div>
  <div class="play-count-ttl">
    <div class="count-title">
      Total
    </div>
    <div class="count-value">
      <%= @plays_count %>
    </div>
  </div>
</div>
