<%= render "shared/header" %>

<div class="user-show">

 <div class="user-box">

  <div class="user-info">
   <h2>ユーザー情報</h2>
   <div>
   <%= link_to "編集する", "#", class:"user-edit-btn" %>
   </div>
   <table class="detail-user-table">
    <tbody>
     <tr>
      <th class="detail-user">ニックネーム</th>
      <td class="detail-user-value"><%= @user.nickname %></td>
     </tr>
     <tr>
      <th class="detail-user">メールアドレス</th>
      <td class="detail-user-value"><%= @user.email %></td>
     </tr>
     <tr>
      <th class="detail-user">お名前</th>
      <td class="detail-user-value"><%= @user.last_name %><%= @user.first_name %></td>
     </tr>
     <tr>
      <th class="detail-user">お名前(カナ)</th>
      <td class="detail-user-value"><%= @user.last_name_kana %><%= @user.first_name_kana %></td>
     </tr>
     <tr>
      <th class="detail-user">生年月日</th>
      <td class="detail-user-value"><%= @user.birth_day %></td>
     </tr>
     <tr>
      <th class="detail-user">お子様の年齢</th>
      <td class="detail-user-value">
       <% @user_child_ages.each do |user_child_age| %>
        <%= ChildAge.find(user_child_age.child_age_id).name %>
       <% end %>
      </td>
     </tr>
    </tbody>
   </table>
  </div>

  <%# 自分の投稿 %>
  <div class="user-post-plays">
   <h2>自分の投稿</h2>
   <ul class="play-lists">
    <% @plays.each do |play| %>
    <li class="list">
     <%= link_to play_path(play.id) do %>
     <div class="play-img-content">
     <%= image_tag play.image, class:"play-img" %>
     </div>
     <div class='play-info'>
          <h3 class='play-name'>
            <%= play.play_name %>
          </h3>
          <div class='play-how'>
            <%= play.how_to_play.truncate(50) %>
          </div>
     </div>
     <% end %>
    </li>
    <% end %>
   </ul>
  </div>
  <%# 自分の投稿 %>

  <%# お気に入り %>
  <div class="user-favorite-plays">
   <h2>お気に入り</h2>
   <ul class="play-lists">
    <% @favorite_plays.each do |favorite_play| %>
    <li class="list">
     <%= link_to play_path(favorite_play.play_id) do %>
     <div class='play-img-content'>
      <%= image_tag Play.find(favorite_play.play_id).image, class: "play-img" %>
     </div> 
     <div class='play-info'>
          <h3 class='play-name'>
            <%= Play.find(favorite_play.play_id).play_name %>
          </h3>
          <div clas='play-how'>
           <%= Play.find(favorite_play.play_id).how_to_play.truncate(50) %>
          </div>
     </div>
     <% end %>
    </li>
    <% end %>
   </ul>
  </div>
  <%# お気に入り %>

  <%# 実績 %>
  <div class="user-achivement-plays">
   <h2>実績</h2>
   <div>
   遊んだ回数
   <%= @plays_count %>
   </div>
   <div>
   9月の実績
   <%= @month_record[Date.today.month] %>
   </div>
   <div>
   10月の実績
   <%= @month_record[Date.today.month + 1] %>
   </div>
   <ul class="play-lists">
    <% @achivement_plays.each do |achivement_play|%>
    <li clas="list">
     <%= link_to play_path(achivement_play.play_id) do %>
     <div class="play-day">
      <%= achivement_play.created_at %>
      <%= Play.find(achivement_play.play_id).play_name %>
     </div>
     <% end %>
    </li>
    <% end %>
   </ul>

   <div>
    <h2>グラフ</h2>
    <%= column_chart @month_record, xtitle: "月", ytitle: "回数" %>
   </div>
  </div>

  <div>
   <canvas id="myChart"></canvas>
    <script>
     var ctx = document.getElementById("myChart");
     var myChart = new Chart(ctx, {
      type: 'radar',
      data: {
       labels: ["外遊び", "室内遊び", "制作", "音楽", "本", "TVゲーム", "スポーツ", "料理", "その他"],
       datasets: 
       [
         {
           label: 'カテゴリー別遊び回数',
           backgroundColor: 'rgba(102,255,129,0.2)',
           borderColor: 'rgba(122,255,129,0.2)',
           data: [<%= @play_categorys_count[2] %>, <%= @play_categorys_count[3] %>, <%= @play_categorys_count[4] %>, 
           <%= @play_categorys_count[5] %>, <%= @play_categorys_count[6] %>, <%= @play_categorys_count[7] %>, 
           <%= @play_categorys_count[8] %>,<%= @play_categorys_count[9] %>, <%= @play_categorys_count[10] %>]
         }
       ]
       },
     options: {
      scale: {
          ticks: {
              suggestedMin: 0,
              suggestedMax: 10
          }
      }
     }
    });
   </script>
</div>


  <%# 実績 %>


  

 </div>

</div>

<%= render "shared/footer" %>